/* Reset de márgenes y paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navbar (header) */
header {
  background-color: #000; /* Fondo negro */
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 1000;
}

.navbar {
  background-color: #000; /* Fondo negro para la navbar */
}

.navbar .navbar-brand {
  color: #fff;
  font-size: 1.5rem;
  margin-left: 10px;
}

.navbar .nav-link {
  color: #ccc;
  padding: 10px;
  text-decoration: none;
}

.navbar .nav-link.active {
  color: #fff;
  font-weight: bold;
}

.navbar .nav-link:hover {
  color: #fff;
}

.navbar-collapse {
  display: flex;
  justify-content: space-between; /* Distribuye el contenido */
  align-items: center;
}

.navbar-nav {
  margin-left: auto; /* Alinea los enlaces hacia la derecha */
  display: flex;
  gap: 20px; /* Añade espacio entre los enlaces */
}

/* Sección de bienvenida (#inicio) */
#inicio {
  position: relative;
  height: 100vh;
  background: url(./assets/images/fondo.jpg) no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

#inicio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad y el color aquí */
  z-index: 1;
}

#inicio h1,
#inicio h2,
#inicio p {
  position: relative;
  z-index: 2;
}

#inicio h1 {
  font-size: 3em;
  margin: 0;
}

#inicio p {
  font-size: 1.5em;
}

/* #inicio {
  text-align: center;
  padding: 50px;
  background-color: #f8f9fa;
}

#inicio h2 {
  font-size: 2rem;
  color: #333;
}

#inicio h1#dynamic-text {
  font-size: 2.5rem;
  color: #007bff;
  margin-top: 20px;
} */

/* Contenido principal */
#root {
  flex: 1;
  padding: 20px;
  background-color: #f8f9fa;
}

/* Footer */
footer {
  background-color: #000; /* Fondo negro */
  color: #fff;
  padding: 10px 0;
  text-align: center;
  margin-top: auto;
}

footer p {
  margin: 5px 0;
}
